<section class="about-us" id="about-us">
  <div class="container">
    <h2 class="section-title about-us-title">about-us</h2>
    <div class="additional-container-about-us">
      <div class="about-us-ph">
        <h2 class="title-about-us">Про Меблерію</h2>
        <p class="text-about-us">
          У Меблерії ми прагнемо створювати затишок та функціональність у
          кожному домі. Наша місія - пропонувати високоякісні меблі, що
          поєднують у собі сучасний дизайн, довговічність та доступність. Ми
          віримо, що ідеальний інтер'єр починається з правильних меблів.
        </p>
      </div>

      <div class="container-img-about-us">
        <picture class="picture-img-about-us">
          <source
            media="(min-width: 1280px)"
            srcset="
              /img/about-us/Меблерія-desktop-1x.jpg 1x,
              /img/about-us/Меблерія-desktop-2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/about-us/Меблерія-tablet-1x.jpg 1x,
              /img/about-us/Меблерія-tablet-2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/about-us/Меблерія-mobile-1x.jpg 1x,
              /img/about-us/Меблерія-mobile-2x.jpg 2x
            "
          />
          <img src="/img/about-us/Меблерія-mobile-1x.jpg" alt="Меблерія" />
        </picture>
      </div>
    </div>
  </div>
</section>
