<header class="page-header">
  <div class="container header-container">
    <nav class="nav-header">
      <a class="logo nav-logo" href="/index.html">
        <svg width="163" height="70" aria-label="Меблерія">
          <use href="/img/sprite.svg#icon-Company-Logo"></use>
        </svg>
      </a>

      <ul class="nav-list-header">
        <li class="nav-item-header">
          <a class="nav-link-header" href="#furniture-list">Наші меблі</a>
        </li>
        <li class="nav-item-header">
          <a class="nav-link-header" href="#about-us">Про нас</a>
        </li>
        <li class="nav-item-header">
          <a class="nav-link-header" href="#faq">Часті питання</a>
        </li>
        <li class="nav-item-header">
          <a class="nav-link-header" href="#feedback">Відгуки</a>
        </li>
        <li class="nav-item-header-btn">
          <a class="nav-link-header-btn" href="#furniture-list">До покупок</a>
        </li>
      </ul>
      <button
        class="burger-open"
        type="button"
        aria-label="Відкрити меню"
        data-menu-open
      >
        <svg class="icon-menu" width="33" height="32">
          <use href="./img/sprite.svg#icon-menu"></use>
        </svg>
      </button>

      <button
        class="menu-close"
        type="button"
        aria-label="Закрити меню"
        data-menu-close
      >
        <svg class="menu-icon" width="33" height="32">
          <use href="./img/sprite.svg#icon-x"></use>
        </svg>
      </button>
    </nav>
  </div>
  <div>
    <div class="menu-header" data-menu>
      <div class="menu-header-container">
        <nav class="menu-nav-header">
          <ul class="menu-list-header">
            <li class="menu-item-header">
              <a class="menu-link-header" href="#furniture-list">Наші меблі</a>
            </li>
            <li class="menu-item-header">
              <a class="menu-link-header" href="#about-us">Про нас</a>
            </li>
            <li class="menu-item-header">
              <a class="menu-link-header" href="#faq">Часті питання</a>
            </li>
            <li class="menu-item-header">
              <a class="menu-link-header" href="#feedback">Відгуки</a>
            </li>
            <li class="menu-item-header-btn">
              <a class="menu-link-header-btn" href="#furniture-list"
                >До покупок</a
              >
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
