<section class="hero section-general">
  <div class="container">
    <div class="hero-list">
      <div class="section-h">
        <h1 class="hero-h body">Створіть свій ідеальний дім</h1>
        <p class="hero-p text">
          Відкрийте для себе колекцію стильних та комфортних меблів, які
          перетворять ваш простір. Наша продукція поєднує в собі елегантність та
          функціональність.
        </p>
      </div>
    </div>
    <div class="hero-background">
      <img
        class="hero-img"
        src="/img/hero/bg.jpg"
        srcset="/img/hero/bg.jpg 1x, /img/hero/bg@2x.jpg 2x"
        alt="Rounded rectangle"
      />
    </div>
    <div class="hero-button-wrapper">
      <button class="two-button" id="load-reviews-btn">
        Що про нас думають
      </button>
    </div>
  </div>
</section>
