<section class="hero section-general">
  <div class="container">
    <div class="hero-list">
      <div class="section-h">
        <h1 class="hero-h body">Створіть свій ідеальний дім</h1>
        <p class="hero-p text">
          Відкрийте для себе колекцію стильних та комфортних меблів, які
          перетворять ваш простір. Наша продукція поєднує в собі елегантність та
          функціональність.
        </p>
      </div>
    </div>

    <div class="hero-button-wrapper">
      <a href="#reviews" class="two-button-two">Що про нас думають</a>
    </div>
  </div>
</section>
