<div class="order-modal">
  <div class="modal-backdrop is-hidden" data-order-modal>
    <div class="container">
      <div class="modal-window order-modal-window">
        <button class="modal-close" data-order-close>
          <svg class="icon-close" width="32" height="32">
            <use href="./img/sprite.svg#icon-x"></use>
          </svg>
        </button>

        <h2 class="order-modal-title">Замовити зворотний зв’язок</h2>

        <form class="order-form" novalidate>
          <label class="order-label">
            Ім'я
            <input
              type="text"
              name="name"
              required
              minlength="2"
              placeholder="Дмитро"
            />
            <span class="error-message"></span>
          </label>
          <label class="order-label">
            Телефон
            <input
              type="tel"
              name="phone"
              required
              pattern="^\+?\d{7,15}$"
              placeholder="+38 (099) 123 22 11"
            />
            <span class="error-message"></span>
          </label>
          <label class="order-label">
            Коментар
            <textarea
              name="comment"
              placeholder="Type your message..."
            ></textarea>
          </label>

          <button type="submit" class="modal-order order-btn">
            Надіслати заявку
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
