.accordion-body {
    transition: all 0.3s ease;
}

.accordion {
    margin: 0 auto;
    --bs-accordion-border-width: 0;
    --bs-accordion-btn-bg: transparent;
}

.accordion .accordion-item {
    background: transparent !important;
    box-shadow: none !important;
    border-left: none;
    border-right: none;
    border-top: 1px solid rgba(8, 12, 9, 0.15);
    border-bottom: 1px solid rgba(8, 12, 9, 0.15);
    border-radius: 0 !important;
    transition: border-bottom 0.3s ease;
}

.accordion .accordion-item.active {
    border-bottom: 1px solid rgba(8, 12, 9, 0.15);
}

.accordion .accordion-button {
    background-color: transparent !important;
    color: inherit !important;
    box-shadow: none !important;
    border: none;
    border-radius: 0 !important;
    padding-top: 23px;
    padding-bottom: 23px;
}

.accordion .accordion-item+.accordion-item {
    border-top: none;
}

.accordion .accordion-button:focus {
    box-shadow: none !important;
    outline: none;
}

/* Мобільна версія */
@media screen and (max-width: 767px) {
    .text-center {
        font-weight: 700;
        font-size: 36px;
    }

    .accordion-button {
        font-weight: 700;
        font-size: 16px;
        padding-left: 16px;
        padding-right: 16px;
    }

    .accordion-body {
        font-weight: 400;
        font-size: 16px;
        padding: 20px 0;
    }

    .accordion-item {
        border-radius: 8px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    }
}

/* Планшети та десктопи */
@media screen and (min-width: 768px) {
    .text-center {
        font-size: 48px;
    }

    .accordion-button {
        font-weight: 700;
        font-size: 18px;
        padding-left: 16px;
        padding-right: 16px;
    }

    .accordion-body {
        padding: 0 16px 16px;
    }

    .accordion-item {
        border-radius: 8px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
        width: 704px;
    }

    .accordion {
        max-width: 704px;
    }
}

/* Великі екрани */
@media screen and (min-width: 1440px) {
    .accordion-button {
        padding-left: 20px;
        padding-right: 20px;
    }

    .accordion-body {
        padding: 0 20px 20px;
    }

    .accordion-item {
        width: 865px;
    }

    .accordion {
        max-width: 865px;
    }
}