.footer {
    background-color:#6b0609;
    padding: 40px 20px;
    color: #fff;
    font-family: 'Inter', sans-serif;
}

.footer-container {
    max-width: 335px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 24px;
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
}

.footer-logo .icon {
    width: 26px;
    height: 26px;
    fill: #fff;
}

.footer-nav .footer-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-menu a {
    color: #fff;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    transition: color 0.3s ease;
}

.footer-menu a:hover,
.footer-menu a:focus {
    cursor: pointer;
}

.footer-socials {
    display: flex;
    justify-content: center;
}

.footer-ul {
    list-style: none;
    display: flex;
    gap: 16px;
    padding: 0;
    margin: 0;
}

.footer-ul .list a {
    display: inline-block;
}

.footer-ul .icon {
    width: 24px;
    height: 24px;
    fill: #fff;
    transition: transform 0.3s ease;
}

.footer-ul .icon:hover,
.footer-ul .icon:focus {
    transform: scale(1.1);
    cursor: pointer;
}

.footer-copyright {
    font-size: 14px;
    color: #fff;

}

@media (min-width: 768px) {
    .footer-container {
        max-width: 704px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        margin: 0 auto;
        padding: 32px 20px;
    }

    .footer-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 24px;
    }

    .footer-logo {
        display: flex;
        align-items: center;
        gap: 12px;
        font-size: 20px;
        font-weight: 600;
        color: #fff;
        text-decoration: none;
    }

    .footer-nav .footer-menu {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 24px;
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .footer-socials {
        display: flex;
        justify-content: flex-end;
    }

    .footer-ul {
        display: flex;
        gap: 16px;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .footer-copyright {
        text-align: center;
        font-size: 14px;
        margin-top: 0px;
    }
}

