.hero-btn {
  border-radius: 100px;
  text-decoration: none;
  border: none;
  padding: 10px 24px;

  height: 46px;
  box-shadow: 0 1px 2px 0 rgba(8, 12, 9, 0.05),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(8, 12, 9, 0.15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
  background-color: #6b0609;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: #fff;
}

.hero-btn:hover,
.hero__btn:focus {
  box-shadow: 0 1px 2px 0 rgba(8, 12, 9, 0.05),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(8, 12, 9, 0.15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
  background: #6b0609;
  opacity: 0.5;
  transform: translateY(-2px);
}

.hero-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: #fff;
  margin-bottom: 24px;
}

.hero-text {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #fff;
  margin-bottom: 32px;
}

.hero {
  background-image: url('../img/hero/bg-mob-1x.jpg');
  background-size: cover;
  background-position: center;
  padding: 120px 0;
  color: #fff;
  position: relative;
}

@media screen and (min-resolution: 2x) {
  .hero {
    background-image: url('../img/hero/bg-mob-2x.jpg');
  }
}

@media only screen and (min-width: 768px) {
  .hero {
    background-image: url('../img/hero/bg-tab.jpg');
    padding-top: 36px;
    padding-bottom: 36px;
  }

  .hero-btn {
    width: 209px;
  }
  .hero-title {
    width: 560px;
    font-size: 56px;
    line-height: 1.2;
  }
  .hero-text {
    width: 540px;

    font-size: 18px;
  }

  @media screen and (min-resolution: 2x) {
    .hero {
      background-image: url('../img/hero/bg-tab-2x.jpg');
    }
  }
}

@media only screen and (min-width: 1280px) {
  .hero {
    background-image: url('../img/hero/bg-tab.jpg');
    padding-top: 92px;
    padding-bottom: 92px;
  }

  @media screen and (min-resolution: 2x) {
    .hero {
      background-image: url('../img/hero/bg-tab-2x.jpg');
    }
  }
}
