.order-modal-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  text-align: center;
  margin-bottom: 48px;
}
.order-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.order-label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
}
.order-label input {
  border: 1px solid rgba(8, 12, 9, 0.15);
  background-color: rgba(8, 12, 9, 0.05);
  border-radius: 12px;
  padding: 8px 12px;
  width: 295px;
  height: 42px;
}
.order-label textarea {
  border: 1px solid rgba(8, 12, 9, 0.15);
  background-color: rgba(8, 12, 9, 0.05);
  border-radius: 12px;
  padding: 12px;
  width: 295px;
  height: 180px;
  margin-top: 8px;
}
input:focus,
textarea:focus {
  outline: none;
  border: 1px solid rgba(8, 12, 9, 0.4);
  box-shadow: none;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .order-modal-window {
    padding: 64px;
  }
  .order-modal-title {
    font-size: 48px;
  }
  .order-label input,
  .order-label textarea {
    width: 576px;
  }
  .order-btn {
    margin-left: auto;
    margin-right: auto;
    width: 196px;
  }
}

input.error {
  border: 1px solid #6b0609;
  color: #6b0609;
}

.error-message {
  color: #6b0609;
  font-size: 12px;
  line-height: 1.6;
  display: none;
  margin-top: -8px;
}
.error-message.active {
  display: block;
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1280px) {
  .order-modal-window {
    flex-direction: column;
    width: 866px;
    gap: 0;
  }
  .order-label input,
  .order-label textarea {
    width: 732px;
  }
  .order-modal-title {
    width: 530px;
    margin-left: auto;
    margin-right: auto;
  }
}
